/* arapey-regular - latin */
@font-face {
  font-family: Arapey;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/arapey-v16-latin/arapey-v16-latin-regular.svg#Arapey') format('svg'); /* Legacy iOS */
}
body {
	font-family: Verdana;
}
.container {
	padding: 0 120px;
	max-width: 1200px;
    margin: 0 auto;
}
.head-box {
	padding: 100px 0 0;
	text-align: center;
}
.head__title {
	font-family: Arapey;
	font-weight: normal;
  	font-size: 60px;
  	color: #9db0d1;
  	margin: 0 0 50px 0;
}
.head__content {
	font-family: Verdana;
  	font-size: 20px;
  	margin: 0 0 50px 0;
}
.btn__start {
	padding: 24px 50px;
  	border-radius: 10px;
  	background-color: #ebac87;
  	line-height: 1.07;
  	font-family: Arapey;
  	font-size: 30px;
  	color: #fff;
  	text-transform: uppercase;
  	border: none;
  	margin: 0 0 50px 0;
}
.content__list {
	display: flex;
	margin: 0 0 50px;
}
.decor {
	width: 60px;
	height: 60px;
	display: block;
	background: #9db0d1;
	border-radius: 50%;
	position: relative;
}
.decor:before {
	content: '';
	background-image: url('../img/union.png');
	position: absolute;
	width: 30px;
	height: 25px;
	top: 15px;
	left: 15px;
}
.list__item {
		font-family: Verdana;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
}
.list__item:not(:last-child){
	margin: 0 50px 0 0;
}
.space {
	background-image: linear-gradient(to bottom, rgba(135, 198, 235, 0) 8%, #87c6eb 93%);
	text-align: center;
}
.main {
	background-color: #87c6eb;
	margin: 0 0 50px;
}
.catalog {

}
.catalog__title {
	font-family: Arapey;
	font-weight: normal;
  	font-size: 40px;
  	text-align: center;
	padding: 50px 0;

}
.catalog__gallery {
	display: flex;
	justify-content: center;
	margin: 0 0 75px 0;

}
.gallery__item {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}
.gallery__item:not(:last-child) {
	margin: 0 75px 0 0;
}
.item__marker {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(235, 172, 135, 0.4);
	margin: 0 0 10px;
	font-family: Verdana;
  	font-size: 30px;
  	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item__img {
	background: #ebac87;
	margin: 0 0 20px;
}
.bold__text {
	font-weight: bold;
}
.information {
	display: flex;
	align-items: center;
    
}
.information__contant {
	flex: 0 0 50%;
	margin: 0 0 50px;
}
.information__title {
	font-family: Arapey;
  	font-size: 40px;
  	color: #fff;
  	font-weight: normal;
  	margin: 0 0 50px;
}
.information__text {
	font-family: Verdana;
  	font-size: 20px;
  	margin: 0 0 50px;
}
.information__text a {
	color: #000;
}
.information__img {
	position: relative;
}
.information__img:after {
	content: '?';
	width: 80px;
	height: 80px;
	background-color: #ebac87;
	border-radius: 50%;
	position: absolute;
	color: #fff;
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 50px;
	right: 0;
}
.btn__check {
	padding: 24px 50px;
  	border-radius: 10px;
  	background-color: #fff;
  	line-height: 1.07;
  	font-family: Arapey;
  	font-size: 30px;
  	color: #ebac87;
  	text-transform: uppercase;
  	border: none;
  	/*margin: 0 0 50px 0;*/
}
.foot {

}
.foot__container {
	display: flex;
	justify-content: space-between;
}
.navigation {
	display: flex;
}
.nav__item {

}